

.game {

  &__board {
    width: 96vw;
    height: 90vh;
    margin: 0 2vw;
    overflow: scroll;
  }
  &__info {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
  }
}

.board-row {
  display: flex;
}

.cell {
  border: .5px solid rgb(163, 163, 163);
  height: 16px;
  flex-basis: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  &--alive {
    background-color: black;
  }
}